body {
  background-color: white;
}

#container {
  margin: 0;
}

.slideShow {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.bar {
  width: 70px;
  height: 15px;
  border: 2px solid white;
  margin: 6px 18px;
  cursor: crosshair;
  z-index: 5;
}

.bar:hover {
  background: crimson;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 700%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideOne {
  background: url(../images/bug.jpg);
  padding: 7em;
  height: calc(100vh - 14em);
  width: calc(100% - 14em);
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.titleOne {
  color: white;
  z-index: 5;
  position: absolute;
  font-size: 7em;
  text-decoration: underline overline;
}

.bodyOne {
  color: white;
  z-index: 5;
  position: absolute;
  bottom: 20%;
  left: 30%;
  font-size: 4em;
}

.slideOne::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slideTwo {
  background: url(../images/audi.jpg);
  padding: 7em;
  height: calc(100vh - 14em);
  width: calc(100% - 14em);
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.titleTwo {
  color: white;
  z-index: 5;
  position: absolute;
  bottom: 20%;
  font-size: 7em;
  text-decoration: underline overline;
}

.bodyTwo {
  color: white;
  z-index: 5;
  position: absolute;
  top: 20%;
  right: 30%;
  font-size: 4em;
}

.slideTwo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slideThree {
  background: url(../images/tesla.jpg);
  padding: 7em;
  height: calc(100vh - 14em);
  width: calc(100% - 14em);
  -webkit-transition: 1s;
  transition: 1s;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.titleThree {
  color: white;
  z-index: 5;
  position: absolute;
  top: 50%;
  font-size: 7em;
  text-decoration: underline overline;
}

.bodyThree {
  color: white;
  z-index: 5;
  position: absolute;
  bottom: 10%;
  right: 30%;
  font-size: 4em;
}

.slideThree::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slideFour {
  background: url(../images/cadi.jpg);
  padding: 7em;
  height: calc(100vh - 14em);
  width: calc(100% - 14em);
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.titleFour {
  color: white;
  z-index: 5;
  position: absolute;
  font-size: 7em;
  text-decoration: underline overline;
}

.bodyFour {
  color: white;
  z-index: 5;
  position: absolute;
  bottom: 20%;
  left: 5%;
  font-size: 4em;
}

.slideFour::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slideFive {
  background: url(../images/ferari.jpg);
  padding: 7em;
  height: calc(100vh - 14em);
  width: calc(100% - 14em);
  -webkit-transition: 1s;
  transition: 1s;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.titleFive {
  color: white;
  z-index: 5;
  position: absolute;
  font-size: 7em;
  text-decoration: underline overline;
}

.bodyFive {
  color: white;
  z-index: 5;
  position: absolute;
  bottom: 20%;
  left: 5%;
  font-size: 3.5em;
}

.slideFive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slideSix {
  background: url(../images/lambo.jpg);
  padding: 7em;
  height: calc(100vh - 14em);
  width: calc(100% - 14em);
  -webkit-transition: 1s;
  transition: 1s;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.titleSix {
  color: white;
  z-index: 5;
  position: absolute;
  font-size: 6em;
  text-decoration: underline overline;
}

.bodySix {
  color: white;
  z-index: 5;
  position: absolute;
  bottom: 10%;
  left: 1%;
  font-size: 3em;
}

.slideSix::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.85;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.slideSeven {
  background: url(../images/lexus.jpg);
  padding: 7em;
  height: calc(100vh - 14em);
  width: calc(100% - 14em);
  -webkit-transition: 1s;
  transition: 1s;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.titleSeven {
  color: white;
  z-index: 5;
  position: absolute;
  font-size: 5em;
  text-decoration: underline overline;
}

.bodySeven {
  color: white;
  z-index: 5;
  position: absolute;
  bottom: 20%;
  left: 1%;
  font-size: 3em;
}

.slideSeven::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#r1:checked ~ .slideOne {
  margin-left: 0;
}

#r2:checked ~ .slideOne {
  margin-left: -16.7%;
}

#r3:checked ~ .slideOne {
  margin-left: -40%;
}

#r4:checked ~ .slideOne {
  margin-left: -75%;
}

#r5:checked ~ .slideOne {
  margin-left: -133.4%;
}

#r6:checked ~ .slideOne {
  margin-left: -250%;
}

#r7:checked ~ .slideOne {
  margin-left: -600%;
}
/*# sourceMappingURL=index.css.map */